<div class="container">
    @if (isLoading) {

    <mat-spinner [diameter]="30" style="margin:0 auto;"></mat-spinner>

    } @else {

    @if(isLoggedIn) {
    <div>
        <button mat-button (click)="isExpanded = !isExpanded">
            <mat-icon>account_circle</mat-icon>
            <div class="username">
                {{ userData?.name }}
            </div>
        </button>

        @if(isExpanded && userData) {
        <app-user-menu [userInfo]="userData" />
        }
    </div>
    } @else {
    <button mat-stroked-button (click)="login()">
        Login
    </button>
    }

    }
</div>